.link {
  text-decoration: none;
  padding: 0px 12px;
  font-size: 16px;
  color: #f7f4f4;
}
.link:hover {
  color: gray;
}
.link-last {
  text-decoration: none;
  padding: 0px 12px;
  font-size: 16px;
  color: #f7f4f4;
}
.link-last:hover {
  color: gray;
}
